* {
    box-sizing:border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background-color: (--uu-white);
}


:root{
    --uu-navy: #060831;
    --uu-gold: #b5a36a;
    --uu-white: #ffffff;
    --uu-body: #D3D3D3;
    --uu-borders: #b5a36a;
    --uu-text: #060831;

}

[data-theme = 'dark']{
    --uu-navy: #68561e; 
    --uu-gold: black;
    --uu-white: black;
    --uu-body: rgb(29, 28, 28);
    --uu-borders: #7f7249;
    --uu-text: #9f905d;

}

.main-wrapper{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 175px;
    background-color: var(--uu-navy);
    color: var(--uu-gold);
    padding:10px;
    border-right: 3px solid var(--uu-borders);
    position: sticky;
    top:0;
    height: 100vh;

}

.sidebar-logo{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--uu-gold);
    filter: brightness(100%);
}

.sidebar-logo img{
    width: 100%;
    height: auto;
    max-width: 180px;
    display: block;
    margin: 0 auto;
    filter: brightness(100%);

}

[data-theme ="dark"] .sidebar-logo img{
    filter: brightness(70%);
}

.theme-btn {
    background: transparent;
    border: 2px solid var(--sidebar-text);
    color: var(--sidebar-text);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.theme-btn:hover {
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.1);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content-heading-area{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 0px;
}


.top-header{
    background-color: var(--uu-navy);
    width: 100%;
    height:1px;
    padding: 0px;
    border: 1px solid var(--uu-borders);
    
}

.user-greeting{
    margin-bottom: 0px;
    padding-left: 10px;
}

#greeting{
    font-size: 2rem;
    color: var(--uu-text);
    margin:0;
}

#time-display{
    font-size: 1.1rem;
    color: var(--uu-text);
    margin-top: 5px;
    font-weight: 500;
}

.hero-slider{
    display:flex;
    width: 300%;
    height: 100%;
    animation: slide-three 15s infinite;
}

.hero-slide{
    width: 33.333%;
    height: 100%;
}

.hero-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    background-color: var(--uu-gold);
    filter: brightness(100%);
}

.hero-container-box{
    height: 180px;
    overflow:hidden;
    border: 2px solid var(--uu-borders);
    border-radius: 15px;
    margin-bottom:30px;
}

@keyframes slide-three {
    0%, 28% { transform: translateX(0); }
    33%, 61% { transform: translateX(-33.333%); }
    66%, 95% { transform: translateX(-66.666%); }
    100% { transform: translateX(0); }
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--uu-white);
    margin: 0;

}

h1{
    width: 100%;
    color: var(--uu-gold);
    text-align: center;
    padding: 0;
    margin:0;

}

h2{
    color: var(--uu-text);
    text-align: left;
    padding: 10px;

}

h3{
    color: var(--uu-text);
    text-align: left;
    padding: 10px;

}

h4{
    color: var(--uu-gold);
    text-align: left;
    padding-right:10px;
    padding: 5
}

.tile{ 
    position: relative;
    height: 150px;
    background-color: var(--uu-navy);
    border-radius: 30px;
    border: 5px solid var(--uu-borders);
    margin: 10px;
    flex: 1 1 200px;
    padding: 0;
    overflow: hidden;
    cursor: pointer; 
    transition: 0.3s 
    

}

.fav-star{
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--uu-gold);
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s;
}

.fav-star:hover{
    transform: scale(1.3);
    color:white;
}

.tile:hover { 
    border-color: #ffffff;                     
    transform: translateY(-7.5px);
}

.tile a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--uu-white);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.dashboard-grid {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.tile-icon {
    font-size: 2.5rem;
    color: var(--uu-gold);
    margin-bottom: 12px;
    transition: 0.3s;
}

.tile:hover .tile-icon{
    transform: scale(1.2);
    color: var(--uu-white);
}

.sidebar-item{
    display: block;
    color: var(--uu-gold);
    text-decoration: none;
    padding: 10px;
    margin: 1px 0;
    background: var(--uu-navy);
    border-radius: 8px;
    font-size: 0.9rem;
    transition: 0.2s;
    border: 3px solid var(--uu-borders);
    transition: 0.3s;

}

.sidebar-item:hover {
    background: var(--uu-navy);
    color: var(--uu-white);
    transform:scale(1.1);

}

.search-feature {
    position:relative;
    padding-left: 5px;
    margin-bottom: -10px;
    width: 100%;
    max-width:400px;
}

.search-icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--uu-gold);
    pointer-events: none;
    font-size: 1rem;

}

#tile-search {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid var(--uu-gold);
    border-radius: 25px;
    color: var(--uu-white);
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
    background-color: var(--uu-navy);
}

#tile-search:focus{
    border-color: var(--uu-white);
    box-shadow : 0 4px 12px black;
}

#no-results {
    display: none;
    text-align : center;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

#no-results p {
    color: var(--uu-navy);
    font-size: 1.5rem;
    font-weight: 500;
}


/* mobile styling from here on out */

.mobile-only-element, #mobile-menu-btn{
    display: none;
}

html, body{ /* to address white bottom on mobile */
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
}

@media (max-width: 768px) {
    .dashboard-container {
        display:flex;
        flex-direction: column;
    }

    #greeting{
        font-size: 1.6rem;
    }

    #time-display{
        font-size: 0.9rem;
    }

    .h5{
        font-size: 1.2rem;
    }

    .top-header{
        height: 30px;
        position: sticky;
        z-index: 2000;
    }
    #mobile-menu-btn{
        display:flex;
        align-items:center;
        justify-content: center;


        right:25px;
        bottom: 25px;
        position:fixed;
        z-index: 1500;
        top: auto;


        width: 70px;
        height: 70px;
        margin: 0px auto;
        padding: 15px;

        background-color: var(--uu-navy);
        color: var(--uu-white);
        border: 2px solid var(--uu-borders);
        border-radius: 50%;
        box-shadow: 0 4px 15px var(--uu-navy);
        bottom: calc(25px + env(safe-area-inset-bottom));


    }

    .hero-container-box{
        margin-bottom: 0px;
    }

    .dashboard-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        padding: 10px;
        flex-wrap: nowrap;
        padding-bottom:100px;
    }
    .tile{
        margin: 0;
        padding: 20px 10px;
        min-height: 110px;
        min-width: 0;
        width: 100%

    }


    .user-greeting{
        margin-top: 20px;

    }

    .hero-container{
        height: 120px;
        margin-top: 60px;
    }

    .hero-slider
    .hero-slide
    .hero-slide img{
        height: 120px;
        object-fit: cover;
        filter: brightness(70%);
    }

    .sidebar {
    position:fixed;
    top:0;
    left: -100%;
    width:175px;
    height:100vh;
    height:100dvh;
    background-color: var(--uu-navy);
    transition: 0.3s ease;
    z-index: 2000;
    padding-top: calc(20px + env(safe-area-inset-top));
    padding: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    }

    body, main.wrapper{
        min-height: 100vh;
        min-height: -webkit-fill-avalible;


    }

    .sidebar.active {
    left: 0;
    }

    .mobile-only-element {
    display: block;
    }


    .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 5px;
    padding: 0px;
    }


    .fav-star {

        font-size: 1.2rem; 
        padding: 15px; 
        top: 0;
        right: 0;
    }

}


