* {
    box-sizing:border-box;
}

:root{
    --uu-navy: #060831;
    --uu-gold: #b5a36a;
    --uu-white: #ffffff;

}

.main-wrapper{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 175px;
    background-color: var(--uu-navy);
    color: var(--uu-gold);
    padding:10px;
    border-right: 2px solid var(--uu-gold);
    position: sticky;
    top:0;
    height: 100vh;

}

.sidebar-logo{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--uu-gold);
}

.sidebar-logo img{
    width: 100%;
    height: auto;
    max-width: 180px;
    display: block;
    margin: 0 auto;

}

.content-heading-area{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 0px;
}


.top-header{
    background-color: var(--uu-navy);
    width: 100%;
    height:70px;
    padding: 10px;
    border: 1px solid var(--uu-gold);
    
}

.user-greeting{
    margin-bottom: 0px;
    padding-left: 10px;
}

#greeting{
    font-size: 2rem;
    color: var(--uu-navy);
    margin:0;
}

#time-display{
    font-size: 1.1rem;
    color: var(--uu-navy);
    margin-top: 5px;
    font-weight: 500;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #D3D3D3;
    margin: 0;

}

h1{
    width: 100%;
    color: var(--uu-gold);
    text-align: center;
    padding: 0;
    margin:0;

}

h2{
    color: var(--uu-navy);
    text-align: left;
    padding: 10px;

}

h3{
    color: var(--uu-navy);
    text-align: left;
    padding: 10px;

}

.tile{ 
    position: relative;
    height: 150px;
    background-color: var(--uu-navy);
    border-radius: 30px;
    border: 5px solid var(--uu-gold);
    margin: 10px;
    flex: 1 1 200px;
    padding: 0;
    overflow: hidden;
    cursor: pointer; 
    transition: 0.3s 
    

}

.fav-star{
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--uu-gold);
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s;
}

.fav-star:hover{
    transform: scale(1.3);
    color:white;
}

.tile:hover { 
    border-color: #ffffff;                     
    transform: translateY(-7.5px);
}

.tile a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--uu-white);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.dashboard-grid {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.tile-icon {
    font-size: 2.5rem;
    color: var(--uu-gold);
    margin-bottom: 12px;
    transition: 0.3s;
}

.tile:hover .tile-icon{
    transform: scale(1.2);
    color: var(--uu-white);
}

@keyframes Slideshow {
    0%, 24.9% {background-image : url("ulster-banner.webp"); }
    25%, 49.9% {background-image : url("ulsterimg1.jpeg"); }
    50%, 74.9% {background-image : url("ulsterimg2.jpeg"); }
    75%, 100% {background-image : url("ulsterimg3.jpeg"); }
}

.hero-image{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    margin-bottom: 40px;
    animation : Slideshow 20s infinite;
    border: 1px solid var(--uu-gold);
    border-radius: 30px;
}


.sidebar-item{
    display: block;
    color: var(--uu-gold);
    text-decoration: none;
    padding: 15px;
    margin: 5px 0;
    background: var(--uu-navy);
    border-radius: 8px;
    font-size: 0.9rem;
    transition: 0.2s;
    border: 5px solid var(--uu-gold);
    transition: 0.3s;

}

.sidebar-item:hover {
    background: var(--uu-navy);
    color: var(--uu-white);
    transform:scale(1.1);

}

.search-feature {
    padding-left: 5px;
    margin-bottom: -10px;
    width: 100%;
    max-width:400px;
}

#tile-search::placeholder{
    color: #D3D3D3;
}

#tile-search {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid var(--uu-gold);
    border-radius: 25px;
    color: var(--uu-white);
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
    background-color: var(--uu-navy);
}

#tile-search:focus{
    border-color: var(--uu-white);
    box-shadow : 0 4px 12px black;
}

#no-results {
    display: none;
    text-align : center;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

#no-results p {
    color: var(--uu-navy);
    font-size: 1.5rem;
    font-weight: 500;
}